{{- define "toValue" -}}
{{- /* Emits a Python expression that converts .Var (a typed value) into a JSON-ready value. */ -}}
{{- $type := .Type -}}
{{- $typeMap := .TypeMap -}}
{{- $aliasMap := .AliasMap -}}
{{- $var := .Var -}}
{{- $depth := (or .Depth 0) -}}
{{- $tn := printf "%v" $type -}}
{{- if isMapType $type -}}
{ _to_value(_k{{$depth}}): {{template "toValue" dict "Type" (mapValueType $type) "TypeMap" $typeMap "AliasMap" $aliasMap "Var" (printf "_v%d" $depth) "Depth" (add $depth 1)}} for _k{{$depth}}, _v{{$depth}} in ({{$var}} or {}).items() }
{{- else if isListType $type -}}
[{{template "toValue" dict "Type" (listElemType $type) "TypeMap" $typeMap "AliasMap" $aliasMap "Var" (printf "_e%d" $depth) "Depth" (add $depth 1)}} for _e{{$depth}} in ({{$var}} or [])]
{{- else if isCoreType $type -}}
{{- if eq $tn "bigint" -}}
_bigint_to_value({{$var}})
{{- else -}}
_to_value({{$var}})
{{- end -}}
{{- else if hasKey $aliasMap $tn -}}
{{template "toValue" dict "Type" (get $aliasMap $tn) "TypeMap" $typeMap "AliasMap" $aliasMap "Var" $var "Depth" $depth}}
{{- else -}}
_to_value({{$var}})
{{- end -}}
{{- end -}}
